spring:
  application:
    name: servicepulse

  datasource:
    url: jdbc:postgresql://localhost:5432/servicepulse
    username: servicepulse
    password: servicepulse
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  thymeleaf:
    cache: false

  security:
    user:
      name: user
      password: demo123

logging:
  level:
    org.springframework.security: INFO
