<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ServicePulse Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container mt-4">

    <h1 class="mb-4">ServicePulse Dashboard</h1>


    <form th:action="@{/services}" method="post" class="row g-3 mb-4">
        <div class="col-md-4">
            <input type="text" name="name" class="form-control"
                   placeholder="Service name" required>
        </div>
        <div class="col-md-6">
            <input type="url" name="url" class="form-control"
                   placeholder="https://example.com/health" required>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary w-100">Add</button>
        </div>
    </form>

    <!-- SERVICES TABLE -->
    <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Latency</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="service : ${services}">

            <td th:text="${service.name}"></td>

            <td>
                <span th:text="${service.lastStatus}"></span>
            </td>

            <td>
                <span th:if="${service.latencyMs != null}"
                      th:text="${service.latencyMs + ' ms'}"></span>
                <span th:if="${service.latencyMs == null}">-</span>
            </td>

            <td>
                <span th:text="${service.enabled ? 'YES' : 'NO'}"></span>
            </td>

            <td class="d-flex gap-2">
                <a th:href="@{/services/{id}(id=${service.id})}"
                   class="btn btn-outline-primary btn-sm">
                    History
                </a>

                <form th:action="@{/services/{id}/toggle(id=${service.id})}"
                      method="post">
                    <button type="submit"
                            class="btn btn-sm"
                            th:classappend="${service.enabled}
                                ? 'btn-warning'
                                : 'btn-success'">
                        <span th:text="${service.enabled
                            ? 'Disable'
                            : 'Enable'}"></span>
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
